body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f08c;
    margin: 0;
    padding: 0;
    background: url("../images/kids.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
   
    background-attachment: fixed;
    font-weight: 600;
    font-size: 20px;

}

.container{
    max-width: 1200px;
    margin: 50px auto;
    background-color: #ffffff81;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form div{
    margin: 20px;
}

#heading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    display:fixed;
}
#heading img{
    width: 120px;
}
.formgroup {
    margin-bottom: 20px;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

tr{
    height: 50px;
}
input[type="password"] {
    width: 100%;
}

input[type="submit"], .button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="reset"]{
    background-color: #626e1c;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
}
input[type="reset"]:hover{
    background-color: #30360e;
}
button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #0056b3;
}
.button:hover{
    background-color: #012142;
}
a{
    text-decoration: none;
}

@media only screen and (min-width: 1460px){
    
    body{background-position: 0px -132px;}

    #heading h2{
        font-size: 16px;
    }
}